
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-color: #232931;
    --second-color: #393e46;
    --third-color:#2292A4;
    --fourth-color:#eeeeee;
    
  }


body {
    font-family: 'Arima Madurai', cursive;
    background-image: linear-gradient(to top, var(--first-color) 0%, var(--third-color) 100%);
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    margin: auto;
    display: flex;
    flex-direction: column;
}

app-file-movie{
    display: flex;
    justify-content: center;
  }
